<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>
    <%- include('../partials/header') %>
    <div class="jumbotron">
       
        <h1 class="display-4">Hello, there!</h1>
        <p class="lead">How is your day?</p>
        <hr class="my-4">
        <p>Start this website right now</p>
        <p class="lead">
        </p>
    </div>
    <%- include('../partials/footer') %>
    
    
    <script 
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>