<!DOCTYPE html>

<html>

<head>
    <title>Success</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>
    <div class="main-content">
        <%- include('../partials/header') %>
        <div class="jumbotron">
       
            <h1 class="display-4">Successfully Sumbitted</h1>
            <p class="lead"><%=successMessage%></p>
            <hr class="my-4">
            <p>Welcome to the website.</p>
            <p class="lead">
            </p>
        </div>
        <p></p>
    </div>
    
    <%- include('../partials/footer') %>
    <script src="/js/signup.js"></script>
    <script 
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>