<head>
    <title>Board</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<%- include('../partials/header') %>
<div class="jumbotron">
    <form action="/board/post_write" method="post">
        <div class="form-group">
            <label for="formGroupExampleInput">제목</label>
            <input type="text" name="title" class="form-control" id="formGroupExampleInput" >
        </div>
          <br>
        <div class="form-group">
            <label for="comment">내용</label>
            <textarea class="form-control" name="content" rows="20" id="comment"></textarea>
          </div>
         <button type="submit" class="btn btn-primary">확인</button>
    </form>
</div>
<%- include('../partials/footer') %>
<script 
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>